<div *ngIf="category==undefined">
  Select Something
</div>
<div *ngIf="category!=undefined">
  <div class="py-2 ">
    <!-- <h2 class="mr-auto">{{definition.name}}</h2> -->
    <div class="float-right">
      <div class="btn-group btn-group-toggle btn-group-sm" ngbRadioGroup name="radioBasic" [(ngModel)]="mode">
        <label ngbButtonLabel class="btn-secondary">
          <input ngbButton type="radio" [value]="'form'"> Form
        </label>
        <label ngbButtonLabel class="btn-secondary">
          <input ngbButton type="radio" [value]="'json'"> JSON
        </label>
      </div>
      <div class="btn-group btn-group-sm">
        <button type="button" class="btn btn-error">Cancel</button>
        <button type="button" class="btn btn-success" (click)="save()">
          <fa-icon icon="save"></fa-icon> Save</button>
      </div>
    </div>
  </div>

  <div *ngFor="let s of items">
    <h3>{{s.spec.name}}</h3>
    <app-setting-editor *ngIf='s.spec && s.setting' [mode]="mode" [spec]="s.spec" [setting]="s.setting" (changes)="changes($event)"></app-setting-editor>
  </div>
</div>