<div class="modal-header">
  <h4 class="modal-title">
    <fa-icon icon="download"></fa-icon> Export Profile</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss( 'Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <app-checklist [items]="defs" [checklistValues]="defs" (checked)="changed($event)" [helpText]="'Select Items to Export'"></app-checklist>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-success dialog" (click)="ok()">OK</button>
  <button type="button" class="btn btn-outline-dark dialog" (click)="activeModal.dismiss('Cancel')">Cancel</button>
</div>