<div *ngIf="profiles && selected" class="container-fluid bg-light pt-2">

  <div>
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link disabled">Profile: </a>
      </li>
      <li class="nav-item" *ngFor="let profile of profiles">
        <a class="nav-link" href="#" (click)="selectProfile(profile)" [class.active]="profile == selected">
          <fa-icon class="gold mr-2" *ngIf="profile.id == owner.active" icon="star"></fa-icon>{{profile.name}}
        </a>
      </li>
      <li class="nav-item mr-auto">
        <a class="nav-link" href="#" (click)="addProfile()">
          <fa-icon icon="plus"></fa-icon>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [class.disabled]="selected.id == owner.active" href="#" (click)="makeActive()" placement="bottom" ngbTooltip="Make this the active profile">
          <fa-icon icon="star"></fa-icon>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" (click)="newName()" placement="bottom" ngbTooltip="Rename Profile">
          <fa-icon icon="edit"></fa-icon>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" (click)="importProfile()" placement="bottom" ngbTooltip="Import Profile...">
          <fa-icon icon="upload"></fa-icon>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" (click)="exportProfile()" placement="bottom" ngbTooltip="Export Profile...">
          <fa-icon icon="download"></fa-icon>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [class.disabled]="selected.id == owner.active" href="#" (click)="deleteProfile()" placement="bottom"
          ngbTooltip="Delete Profile">
          <fa-icon icon="trash"></fa-icon>
        </a>
      </li>
    </ul>
  </div>
</div>