<div *ngIf="owner && owner.profiles.length > 0" class="container-fluid bg-light pt-2">

  <!-- <div>
    Profile:
    <form class="form-inline">
      <select class="form-control" id="exampleFormControlSelect1">
        <option *ngFor="let profile of owner.profiles">{{profile.name}}</option>
      </select>
    </form>
    <div ngbDropdown class="btn-group mr-2">
      <button ngbDropdownToggle type="button" class="btn btn-outline-primary">{{selected?selected.name:'Select Profile'}}</button>
      <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
        <button *ngFor="let profile of owner.profiles" class="dropdown-item" (click)="selectProfile(profile)">{{profile.name}}</button>
      </div>
    </div>
  </div> -->
  <div>
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link disabled">Profile: </a>
      </li>
      <li class="nav-item" *ngFor="let profile of owner.profiles">
        <a class="nav-link" href="#" (click)="selectProfile(profile)" [class.active]="profile == selected">
          <fa-icon class="gold mr-2" *ngIf="profile.name == owner.activeProfile" icon="star"></fa-icon>{{profile.name}}
        </a>
      </li>
      <li class="nav-item mr-auto">
        <a class="nav-link" href="#" (click)="addProfile()">
          <fa-icon icon="plus"></fa-icon>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [class.disabled]="selected.name == owner.activeProfile" href="#" (click)="makeActive()" placement="bottom"
          ngbTooltip="Make this the active profile">
          <fa-icon icon="star"></fa-icon>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" (click)="newName()" placement="bottom" ngbTooltip="Rename Profile">
          <fa-icon icon="edit"></fa-icon>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" (click)="importProfile()" placement="bottom" ngbTooltip="Import Profile...">
          <fa-icon icon="upload"></fa-icon>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" (click)="exportProfile()" placement="bottom" ngbTooltip="Export Profile...">
          <fa-icon icon="download"></fa-icon>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [class.disabled]="selected.name == owner.activeProfile" href="#" (click)="deleteProfile()" placement="bottom"
          ngbTooltip="Delete Profile">
          <fa-icon icon="trash"></fa-icon>
        </a>
      </li>
    </ul>
  </div>
</div>